
.client-quotes{
    max-height: 500px;
    width: 70%;
    display: inline-block;
    justify-content:center;
    align-items:center;
    margin-bottom: 10%;
    
    img{
        max-height:200px;
        width: 360px;
        padding-right: 10%;
    }
    .client-1,
    .client-2{
        display: flex;
        justify-content: center;
        margin-left: 15%;
        p{
            color: black;
        }
    }
    h6{
        color: #79ADDC;
        font-size: 15px;
        margin-left: 85%;
    }
}
.cq-main{
    font-size:35px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 5%;
    border-bottom: solid 1px black;
    width: 30%;
    padding-bottom: 1%;
}

.footer-nav{
    height: 90px;
    max-width: 100%;
    background-color: #79addc;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .footer-logo{
        width: 92px;
        height: 42;
    }
    .copyright{
        color: white;
    }

    .links{
        height: 42px;
        width: 100px;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .logo-img{
            height: 20px;
            width: 20px;
            color: white;
        } 
       
        a{
            text-decoration: none;
            color: white;
        }
    }
}

@media only screen and (max-width: 800px) {
    .client-quotes{
        max-height: 500px;
        width: 95%;
        display: inline-block;
        justify-content:center;
        align-items:center;
        margin-bottom: 10%;
        img{
            max-height:130px;
            width: 250px;
            padding-right: 10%;
        }
        .client-1,
        .client-2{
            display: flex;
            justify-content: center;
            margin-left: 10%;
        }
        h6{
            color: #79ADDC;
            font-size: 15px;
            margin-left: 85%;
        }
    }
    .cq-main{
        font-size:35px;
        font-weight: 300;
        letter-spacing: 3px;
        margin-left: 10%;
        margin-top: 25%;
        margin-bottom: 5%;
    } 
}
