.tour-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: 40px 0;
    
    img{
        max-height: 200px;
        width: 65%;
    }
    h1{
        font-size: 60px;
        font-weight: 300;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        letter-spacing: 0.1em;
    }
}
@media only screen and (max-width:800px){
    .hero{
        h1{
            font-size: 30px;
        }
    }
}